.topBar {
  width: 100vw;
  height: 40px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cecece;
  text-decoration: none !important;
}

.content {
  .story-image {
    width: 100%;
    min-height: 200px;
  }

  .text {
    padding: 0px 20px;

    .title {
      padding-top: 20px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }

    .info {
      text-align: center;
    }

    .story {
      padding-top: 20px;
      text-align: center;
    }
  }
}
